*{
	padding: 0;
	margin: 0;
	transition:all 0.5s;
}
li{
	list-style: none;
}

.top{
width: 100%;
height:100px;
background: #ddd;

}
.toplogo{
	position: relative;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 90px;
	height: 90px;
	background: url(../img/logo.png) no-repeat center;

}

.warp{
	position: relative;
	width: 100%;
	height: 750px;
}
.warpimg{
	position: absolute;
	width: 100%;
	height: 750px;
float: left;
background: url(../img/cp3/bk.jpg)no-repeat center;
border-top: 2px solid #c3a774;
}

.toolbar{
position: absolute;
bottom: -2px;
left: 0;
right: 0;
margin: auto;
width:60%;
height: 50px;

}
.toolbar li{
	width: 155px;
	height: 50px;
	background: #bb9858;
	float: left;
	border-right: 1px solid #bb8040;
	font-size: 25px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.toolbar li:hover{
	background: #bb0000;

}

.abouttop{
	position: relative;
	width: 100%;
	height: 100px;

	top: 100px;
}
.producttop{
position: relative;
width: 150px;
height:70px;
left: 0;
right: 0;
margin:auto;
border-bottom: 2px solid #c3a774;
font-size: 30px;
	line-height: 70px;
	text-align: center;
	color: #000;
}
.productbottom{
position: relative;
width: 150px;
height:30px;
left: 0;
right: 0;
margin:auto;
font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #888;
}


.about{
	position: relative;
	width: 1347px;
	height: 1050px;
	left: 0;
	right: 0;
	margin: auto;
	color: #888;

	margin-top: 150px;
}

.about dl{
	position: absolute;
	top: 20px;
	right: 0;
	left: 0;
	margin:auto;
	display: block;
	margin-left: 120px;
	width: 450px;
	height: auto;

}
.about span{
	font-size: 20px;
	
}
.about .aboutl .abl2 .box4d{
	margin-left: 40px;

}
.about dt{
	font-size: 14px;
}
.about p,.about dd{
	font-size: 12px;
	line-height: 20px;
}
.aboutl{
	position: absolute;
	width: 608px;
	height: 1050px;
	left: 70px;


}
.aboutl .aboutli {
	position: absolute;
	display: block;
	margin-left: -50px;
}
.aboutl .aboutli li{
	position: relative;
	width: 100px;
	height: 40px;
	display: block;
	background: rgba(195,167,116,0);
	border-radius: 25px;
	border: 1px solid rgba(195,167,116,1);
	float: left;
	margin-left: 50px;
	line-height: 40px;
	text-align: center;
	color: #000;
}
 .aboutli li:nth-child(1):hover{
	background: rgba(195,167,116,1);
	border: 1px solid rgba(195,167,116,0);
	color: #fff;
}

.aboutli li:nth-child(2):hover{
	background: rgba(195,167,116,1);
	border: 1px solid rgba(195,167,116,0);
	color: #fff;
}	

.aboutli li:nth-child(3):hover{
	background: rgba(195,167,116,1);
	border: 1px solid rgba(195,167,116,0);
	color: #fff;
}


.abl1,.abl3{
	position: relative;
	width: 476px;
	height: 286px;
	
}
.abl1{
	top: 90px;
	background:rgba(195,167,116,0) url(../img/cp3/pr.jpg);
}
.abl2{
	position: relative;
	width: 608px;
	height: 286px;
	background: url(../img/cp3/zuo1.png) no-repeat center;
	margin-top: 140px;
}
.abl3{
	position: absolute;
	bottom: 0px;
	background:rgba(195,167,116,0) url(../img/cp3/pr.jpg);
}

.aboutr{
	position: absolute;
	width: 608px;
	height: 1050px;
	right:67px;

	z-index: 2;
	border-left: 2px solid #c3a774;
}

.abr1,.abr3{
	position: relative;
	width: 608px;
	height: 286px;
	background: url(../img/cp3/zuo.png) no-repeat center;
	left: -10px;
}
.abr1{
	top: 90px;
	
}
.abr2{
	position: absolute;
	width: 608px;
	height: 286px;
	margin-left:55px; 
	background: url(../img/cp3/pr1.jpg) no-repeat center;
	margin-top: 140px;
}
.abr3{
	position: absolute;
	bottom: 0px;
	
}



.footer{
	position: absolute;
	
	width: 100%;
	height: 285px;
	border-top: 2px solid #c3a774;
	margin-top: 80px;
	background:#eee;
}

.foot{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 730px;
	height: 285px;
	font-size: 14px;
}
.foot ul{
	position: relative;
	top: 50px;
	float: left;
	padding-left: 70px;

}	
li{
	cursor: pointer;
}
.foot ul li:nth-child(1){
	position: relative;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 15px;
}
.foot ul li{
	position: relative;
	margin-top: 10px;
}
.footimg{
	position: absolute;
	top: -10px;
	bottom: 0;
	right: 0px;
	margin: auto;
	width: 150px;
	height: 150px;

}
.footimg img{
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 5px;
	margin-left: 30px;
	cursor: pointer;
}