
#info{
	position: relative;
	width: 980px;
	height: 280px;
	clear: both;
	top: -46px;
	margin: 0 auto;
}
#info #infoD li{
	position: relative;
	width: 288px;
	height: 255px;
	border-radius: 5px;
	padding: 10px 10px 10px 17px;
	
}
#info #infoD .about{
	background: #fff;
	box-shadow: 0 0 10px #d6d6d6;
	border: 1px solid #d6d6d6;
}

#info #infoD li:nth-child(2){
	margin: 0 13px;
}
#info #infoD .about dl dt{
	width: 281px;
	height: 96px;
	margin-top: 10px;
	background: url(../img/aboutpic.jpg) no-repeat center;
}
#info #infoD .about dl dd{
	margin-top: 9px;
	font-size: 11px;
	line-height: 23px;
	color:#808080;
}
#info #infoD .about .viewMore{
	position: absolute;
	display: inline-block;
	bottom: 20px;
	left: 20px;
	width: 62px;
	height: 27px;
	padding-left: 35px;
	color: #635454;
	font-size: 12px;
	line-height: 27px;
	background: url(../img/icon.png) no-repeat -545px -46px;
}
#info #infoD li:nth-child(3){
	padding: 0;
}

#connect .infoBlock{
	display: inline-block;
	width: 319px;
	height: 129px;
	
	border-radius: 5px;
	background:red;
}
#info #infoD #connect .infoBlock li{
	width: 105.5px;
	height: 63.8px;
	margin: 0;
	padding: 0;
	border-radius: 0;
	background: #df4248;
	overflow: hidden;
}
#info #infoD #connect .infoBlock li:nth-child(1){
	border-radius: 5px 0 0 0 ;
	background: url(../img/box.png) no-repeat -6px 0px;
}
#info #infoD #connect .infoBlock li:nth-child(2){
	
	background: url(../img/box.png) no-repeat -111.5px 0px;
}
#info #infoD #connect .infoBlock li:nth-child(3){
	border-radius: 0 5px 0 0 ;
	background: url(../img/box.png) no-repeat -208px 0px;
}
#info #infoD #connect .infoBlock li:nth-child(4){
	border-radius:0 0 0 5px;
	background: url(../img/box.png) no-repeat -5px -63.8px;
}
#info #infoD #connect .infoBlock li:nth-child(5){
	background: url(../img/box.png) no-repeat -110.5px -63.8px;
}

#info #infoD #connect .infoBlock li:nth-child(6){
	border-radius:0 0 5px 0;
	background: url(../img/box.png) no-repeat -206px -63.8px;
}


#info #infoD #connect .infoBlock li:nth-child(1):hover{
	border-radius: 5px 0 0 0 ;
	background: url(../img/box222.png) no-repeat -6px 0px;
}
#info #infoD #connect .infoBlock li:nth-child(2):hover{
	
	background: url(../img/box222.png) no-repeat -111.5px 0px;
}
#info #infoD #connect .infoBlock li:nth-child(3):hover{
	border-radius: 0 5px 0 0 ;
	background: url(../img/box222.png) no-repeat -208px 0px;
}
#info #infoD #connect .infoBlock li:nth-child(4):hover{
	border-radius:0 0 0 5px;
	background: url(../img/box222.png) no-repeat -5px -63.8px;
}
#info #infoD #connect .infoBlock li:nth-child(5):hover{
	background: url(../img/box222.png) no-repeat -110.5px -63.8px;
}

#info #infoD #connect .infoBlock li:nth-child(6):hover{
	border-radius:0 0 5px 0;
	background: url(../img/box222.png) no-repeat -206px -63.8px;
}
#info #infoD #connect .infoBlock .libr{
	border-right: 1px solid #dc4d51;
}
#info #infoD #connect .infoBlock .lib{
	border-bottom: 1px solid #dc4d51;
}
#info #infoD #connect #cont{
	width: 316px;
	height: 128px;
	margin-top: 5px;
	border-radius: 5px;
	
	border: 1px solid #e7e7e7;

}
#info #infoD #connect #cont li{
	width: 316px;
	height: 43px;
	margin: 0;
	padding: 0;
	line-height: 43px;
	border-radius: 0;
	color: #b1aab7;
	font-size: 13px;
}
#info #infoD #connect #cont li:nth-child(2){
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
#info #infoD #connect #cont li b{
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-left: 10px;
	padding-left: 20px;
	
}
#phone b{
	background: url(../img/icon.png) no-repeat -979px -30px;
}
#email b{
	background: url(../img/icon.png) no-repeat -976px -120px;
}
#address b{
	background: url(../img/icon.png) no-repeat -979px -77px;
}

#link{
	position: relative;
	width: 980px;
	height: 110px;
	clear: both;
	margin: 0 auto;

}
#link #linkL{
	width: 980px;
	height: 80px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
#link #linkL li{
	margin-top: 21px;
	margin-left: 40px;
	width: 115px;
	height: 38px;
	background: url(../img/link_03.jpg) no-repeat center;
}


